/*HTML INDEX*/

/*SOBRE NOSOTROS*/

#nosotros {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: auto;
    margin-top: 60px;

    .venta__info {
        text-align: justify;
        flex-basis: 40%;

        .venta__info-c2a {
            text-align: center;

            .c2aBtn {
                padding: 5px;
                border-radius: 8px;
                background-color: #181818;
                color: white;
                -webkit-box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.6);
                -moz-box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.6);
                box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.6);
                font-weight: 400;

                &:active {
                    animation-name: press;
                    animation-duration: 1.5s;

                    @keyframes press {
                        0% {
                            background-color: #20262E;
                            transform: scale(0.9);
                        }

                        50% {
                            transform: scale(0.8);
                        }

                        100% {
                            transform: scale(1);
                        }

                    }
                }
            }
        }

        .venta__info-salvedad {
            font-size: smaller;
        }
    }

    .venta__video {
        position: relative;
        margin-bottom: 20px;
        padding-top: 56.25%;
        flex-basis: 60%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    }
}

/*SECCIÓN FAQ*/

#faq {
    max-width: 90vw;
    margin: auto;

    .faq__title {
        margin-bottom: 30px;
    }

    .accordion {
        .accordion-button {
            &:not(.collapsed) {
                color: white;
                background-color: $negro-oscuro;
            }

            &:after {
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
            }

            &:focus {
                box-shadow: none;
                border-color: rgba(0, 0, 0, .125);
            }
        }

        .qrCode {
            text-align: center;
        }
    }
}

/*SECCIÓN TESTIMONIOS*/

#testimonios {
    max-width: 90vw;
    margin: auto;

    .testimonios__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-content: center;
        align-content: center;

        .block__titulo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 30px;

            h4 {
                margin-top: 20px;
                align-self: flex-end;
            }
        }
        .block {
            height: 350px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;
            &:nth-child(2) {
                background-color: $gris-oscuro;
            }
            &:nth-child(3) {
                background-color: $negro-oscuro;
            }
            &:nth-child(4) {
                background-color: $gris-oscuro;
            }
            &:nth-child(5) {
                background-color: $negro-oscuro;
            }
            &:nth-child(6) {
                background-color: $gris-oscuro;
            }
            &:nth-child(7) {
                background-color: $negro-oscuro;
            }
            .read-more-state {
                display: none;
            }
            
            .read-more-target {
                opacity: 0;
                max-height: 0;
                font-size: 0;
                transition: .25s ease;
            }
            
            .read-more-state:checked~.read-more-wrap .read-more-target {
                opacity: 1;
                font-size: inherit;
                max-height: 999em;
            }
            
            .read-more-trigger {
                display: contents;
            }
            
            .read-more-state~.read-more-trigger:before {
                content: 'Más';
            }
            
            .read-more-state:checked~.read-more-trigger:before {
                content: 'Menos';
            }
            
            .read-more-trigger {
                cursor: pointer;
                display: inline-block;
                padding: 0 .5em;
                color: #666;
                font-size: .9em;
                line-height: 2;
                border: 1px solid #ddd;
                border-radius: .25em;
            }
        }
    }
}
/*SECCIÓN DE CONTACTO*/

#contacto {
    max-width: 90%;
    margin: auto;
    form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 60px;
        .btn {
            background-color: #181818;
            color: white;
            border-style: hidden;
            border: 3px transparent;
            transition: border 1s;
            &:hover {
                background: rgba(#181818, 0);
                font-weight: 600;
                letter-spacing: 1px;
                border: 3px solid #d0d0d0;
            }
        }
    }
}